[Desktop Entry]
Name=QtScan
Comment=Scan and generate QR codes
Exec=qtscan
Icon=${SNAP}/meta/gui/qtscan.png
Terminal=false
Type=Application
Categories=Utility;Graphics;
